* {
  color: pink;
}

body {
  background-color: #f1faee;
}
button {
  font-size: 30px;
}

h1,
h2 {
  color: #1d3557;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

span {
  color: #457b9d;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}

.post a {
  color: red;
}

/*Adjacent Selector
    selects only the paragraphs that 
    are immediately preceded by a tag*/

input + button {
  background-color: pink;
}

h2 + button {
  font-size: 20px;
  background-color: slategrey;
}

/*Direct Child
    select only the element 
    that is direct child of an element*/

footer > a {
  color: a8dadc;
}
