h2 {
  color: indigo;
  text-align: center;
  font-weight: normal;
  text-decoration: blue underline wavy;
}

button {
  color: magenta;
  background-color: blue;
}

p {
  background: yellow;
  text-align: left;
  line-height: 2;
  letter-spacing: 5px;
}
